function WormBoard.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 128
pop this 0
push constant 64
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call WormBoard.registerGrid 1
pop temp 0
push pointer 0
push argument 0
push argument 1
call WormBoard.markSquare 3
pop temp 0
push pointer 0
return
function WormBoard.markSquare 1
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push argument 1
push argument 2
call WormBoard.drawSquare 3
pop temp 0
push constant 0
return
function WormBoard.registerGrid 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push this 0
call Array.new 1
pop this 2
label WHILE_EXP0
push local 1
push this 0
lt
not
if-goto WHILE_END0
push this 1
call Array.new 1
pop local 0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push this 1
lt
not
if-goto WHILE_END1
push local 2
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push this 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function WormBoard.isOccupied 1
push argument 0
pop pointer 0
push argument 1
push constant 126
gt
push argument 1
push constant 0
lt
or
push argument 2
push constant 62
gt
or
push argument 2
push constant 0
lt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
return
function WormBoard.drawSquare 0
push argument 0
pop pointer 0
push argument 1
push constant 4
call Math.multiply 2
push argument 2
push constant 4
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
push constant 4
add
push argument 2
push constant 4
call Math.multiply 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function WormBoard.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 0
lt
not
if-goto WHILE_END0
push local 1
push this 2
add
pop pointer 1
push that 0
pop local 0
push local 0
call Array.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 2
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
